* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eef1f6;
  color: #333;
}

/*  NAVBAR */
.navbar {
  background: #3f51b5;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.nav-logo {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.nav-links .nav-item {
  margin-left: 20px;
  padding: 8px 14px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  transition: 0.3s ease;
  font-weight: 500;
}

.nav-item:hover,
.nav-item.active {
  background: white;
  color: #3f51b5;
}

/* WELCOME PAGE  */
.welcome-container {
  text-align: center;
  padding: 70px 20px;
}

.welcome-container h1 {
  font-size: 45px;
  color: #3f51b5;
  font-weight: 700;
  margin-bottom: 15px;
}

.welcome-container p {
  font-size: 20px;
  margin-top: 15px;
  color: #555;
}
/*  FORM CONTAINER */
.form-container {
  width: 50%;
  margin: 40px auto;
  padding: 25px 35px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #3f51b5;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.form-row label {
  width: 100px;
  font-weight: 600;
  font-size: 15px;
}

.form-row input,
.form-row select,
.form-row textarea {
  flex: 1;
  padding: 10px ;
  font-size: 15px;
  background: #fafafa;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  transition: 0.25s;

}

.form-row input:focus,
.form-row select:focus,
.form-row textarea:focus {
  border-color: #3f51b5;
  background: white;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.3);
}

.error {
  color: red;
  font-size: 13px;
  margin-left: 180px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 100px;
  margin-bottom: 15px;
}

.checkbox-row input {
  width: 35px;
  height: 20px;
}

.radio-row {
  display: flex;
  align-items: center;
  gap: 25px;
}

.full-width textarea {
  height: 90px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background: #3f51b5;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
 
  
}

.btn-submit:hover {
  background: #2f3e9e;
}
.toggle-row {
  display: flex;
  align-items: center;
  gap: 120px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
  left:100px

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  left:150px
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

.slider.round {
  border-radius: 24px;
}


/*TABLE */
.table-container {
  max-width: 1100px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.table-container h2 {
  text-align: center;
  color: #3f51b5;
  font-size: 26px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

thead tr {
  background: #3f51b5;
  color: white;
}

th {
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

tbody tr {
  background: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
}

tbody td {
  padding: 14px;
  font-size: 15px;
}

tbody tr:hover {
  background: #ececec;
  transition: 0.2s;
}


.btn-edit {
  background:#4caf50;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  transition: 0.3s;
}

.btn-edit:hover {
  background: #2caa33;
}

.btn-delete {
  background: #f44336;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.btn-delete:hover {
  background: #d32f2f;
}
